.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color:#639d4c;
    color: var(--tex);
   
}

.container:hover, .active{
    background-color:  #708373;
    
}
