.container{
    background-color: var(--bgsoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.container h1{
    padding: 30px;
    background-color: var(--bg);
    border-radius: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
 
}

.form input,
.form select{
    padding: 20px;
    background-color: var(--bg);
    color: var(--text);
    border-radius: 5px;
    border: 2px solid #2e374a;
    margin-bottom: 25px;
}

.form label{
    font-size: 18px;
    padding: 20px;
  }


.form button{
    width: 100%;
    padding: 30px;
    background-color: teal;
    color: var(--text);
    border-radius: 5px;
    cursor: pointer;
}

.form select option{
    background-color: var(--bg);
}